Para realizar lo solicitado debes crear la base de datos classicmodels en tu motor
PostgreSQL. Para esto, abre una ventana de terminal y ejecuta la siguiente
instrucción:
psql -h localhost -p 5432 -U postgres -c "CREATE DATABASE classicmodels;"

2. Una vez creada la base de datos, debes importar el archivo classicmodels.sql a esta
base de datos.
psql -h localhost -p 5432 -U postgres -d classicmodels -f classicmodels.sql

Password for user postgres: 
SET
SET
SET
SET
SET
 set_config
------------
(1 row)

SET
SET
SET
SET
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 122
COPY 23
COPY 7
COPY 2996
COPY 326
COPY 273
COPY 7
COPY 110

1. Genera una función llamada leer_tabla(tabla, engine) y utilízala para leer tablas
completas desde la base de datos en dataframes independientes. Utilizando esta
función, importa las siguientes tablas:
- order
- orderdetails
- customers
- products
- employees

In [4]:
# Configura la conexión a tu base de datos PostgreSQL
from sqlalchemy import create_engine
from funciones import leer_tabla
import pandas as pd
# Resto del código de mi_script.py


engine = create_engine('postgresql://postgres:luispost@localhost/classicmodels')

tabla_order = leer_tabla('orders', engine)
tabla_orderdetails = leer_tabla('orderdetails', engine)
tabla_customers = leer_tabla('customers', engine)
tabla_products = leer_tabla('products', engine)
tabla_employees = leer_tabla('employees', engine)

In [5]:
# nombres de las columnas para cada tabla
nombres_columnas_orders = tabla_order.columns
nombres_columnas_orderdetails = tabla_orderdetails.columns
nombres_columnas_customers = tabla_customers.columns
nombres_columnas_products = tabla_products.columns
nombres_columnas_employees = tabla_employees.columns

# Imprime los nombres de las columnas
print("Nombres de las columnas de la tabla 'orders':")
print(nombres_columnas_orders)

print("\nNombres de las columnas de la tabla 'orderdetails':")
print(nombres_columnas_orderdetails)

print("\nNombres de las columnas de la tabla 'customers':")
print(nombres_columnas_customers)

print("\nNombres de las columnas de la tabla 'products':")
print(nombres_columnas_products)

print("\nNombres de las columnas de la tabla 'employees':")
print(nombres_columnas_employees)

Nombres de las columnas de la tabla 'orders':
Index(['orderNumber', 'orderDate', 'requiredDate', 'shippedDate', 'status',
       'comments', 'customerNumber'],
      dtype='object')

Nombres de las columnas de la tabla 'orderdetails':
Index(['orderNumber', 'productCode', 'quantityOrdered', 'priceEach',
       'orderLineNumber'],
      dtype='object')

Nombres de las columnas de la tabla 'customers':
Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode',
       'country', 'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

Nombres de las columnas de la tabla 'products':
Index(['productCode', 'productName', 'productLine', 'productScale',
       'productVendor', 'productDescription', 'quantityInStock', 'buyPrice',
       'MSRP'],
      dtype='object')

Nombres de las columnas de la tabla 'employees':
Index(['employeeNumber', 'lastName', 'firstName', 'extension', 'email',
       'officeCode', 'reportsTo', 'jobTitle'],
      dtype='object')

2. Realiza el cruce entre los DataFrames, asegurándote de utilizar correctamente el
parámetro validate para asegurar la integridad referencial.

In [6]:
import pandas as pd

# Realizar los merges utilizando las columnas relacionadas
merged_data = (
    tabla_order.merge(tabla_orderdetails, on="orderNumber")
    .merge(tabla_customers, on="customerNumber")
    .merge(tabla_products, left_on="productCode", right_on="productCode")
    .merge(tabla_employees, left_on="salesRepEmployeeNumber", right_on="employeeNumber")
)

# Imprimir el resultado
merged_data

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,...,buyPrice,MSRP,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,S18_1749,30,136.00,...,86.70,170.00,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,S18_2248,50,55.09,...,33.30,60.54,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,S18_4409,22,75.46,...,43.26,92.03,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
3,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,S24_3969,49,35.29,...,21.75,41.03,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
4,10192,2003-11-20,2003-11-29,2003-11-25,Shipped,None,363,S12_4675,27,99.04,...,58.73,115.16,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,10143,2003-08-10,2003-08-18,2003-08-12,Shipped,Can we deliver the new Ford Mustang models by ...,320,S700_2610,31,69.39,...,33.97,72.28,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
2992,10185,2003-11-14,2003-11-21,2003-11-20,Shipped,None,320,S700_2610,39,61.44,...,33.97,72.28,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
2993,10276,2004-08-02,2004-08-11,2004-08-08,Shipped,None,204,S18_4721,48,120.53,...,69.93,148.80,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
2994,10147,2003-09-05,2003-09-12,2003-09-09,Shipped,None,379,S24_4620,31,72.76,...,32.33,80.84,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
2995,10276,2004-08-02,2004-08-11,2004-08-08,Shipped,None,204,S24_4620,48,67.10,...,32.33,80.84,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep

3. Agrega las siguientes columnas, considerando su nombre y la fórmula asociada
- venta: quantityOrdered*priceEach
- costo: quantityOrdered*buyPrice
- ganancia: considerando las columnas anteriores

In [7]:
# Agrega la columna 'venta' (quantityOrdered * priceEach)
merged_data["venta"] = merged_data["quantityOrdered"] * merged_data["priceEach"]

# Agrega la columna 'costo' (quantityOrdered * buyPrice)
merged_data["costo"] = merged_data["quantityOrdered"] * merged_data["buyPrice"]

# Agrega la columna 'ganancia' (venta - costo)
merged_data["ganancia"] = merged_data["venta"] - merged_data["costo"]
# Selecciona las columnas 'venta', 'costo' y 'ganancia'
columnas_seleccionadas = ["venta", "costo", "ganancia"]

# Imprime las columnas seleccionadas
merged_data[columnas_seleccionadas]

        venta    costo  ganancia
0     4080.00  2601.00   1479.00
1     2754.50  1665.00   1089.50
2     1660.12   951.72    708.40
3     1729.21  1065.75    663.46
4     2674.08  1585.71   1088.37
...       ...      ...       ...
2991  2151.09  1053.07   1098.02
2992  2396.16  1324.83   1071.33
2993  5785.44  3356.64   2428.80
2994  2255.56  1002.23   1253.33
2995  3220.80  1551.84   1668.96

[2996 rows x 3 columns]

4. ¿Cuál fue el total de ventas por línea de productos? Incluye una fila de totales.

In [8]:
# Agrupa los datos por la columna 'productLine' y suma las ventas en cada grupo
ventas_por_linea = merged_data.groupby("productLine")["venta"].sum().reset_index()

# Calcula el total de ventas
total_ventas = ventas_por_linea["venta"].sum()

# Asegúrate de que la columna 'venta' sea de tipo numérico (puede ser necesario convertirla)
ventas_por_linea["venta"] = pd.to_numeric(ventas_por_linea["venta"])

# Agrega una fila de totales al DataFrame
fila_total = pd.DataFrame({"productLine": ["Total"], "venta": [total_ventas]})

# Concatena el DataFrame de totales
ventas_por_linea = pd.concat([ventas_por_linea, fila_total], ignore_index=True)

# Imprime el resultado
print(ventas_por_linea)

        productLine       venta
0      Classic Cars  3853922.49
1       Motorcycles  1121426.12
2            Planes   954637.54
3             Ships   663998.34
4            Trains   188532.92
5  Trucks and Buses  1024113.57
6      Vintage Cars  1797559.63
7             Total  9604190.61

5. ¿Cuántos clientes distintos hicieron compras?

In [9]:
# Cuenta los clientes distintos
clientes_distintos = merged_data["customerNumber"].nunique()

# Imprime el resultado
print("Número de clientes distintos que hicieron compras:", clientes_distintos)

Número de clientes distintos que hicieron compras: 98

6. ¿Existen clientes que aún no han hecho ninguna compra? ¿Cuántos son?

In [10]:
# Obtén la lista de todos los clientes de la tabla 'customers'
todos_los_clientes = set(tabla_customers["customerNumber"])

# Obtén la lista de clientes que han realizado al menos una compra en la tabla 'orders'
clientes_con_compras = set(tabla_order["customerNumber"].unique())

# Encuentra los clientes que no han realizado compras
clientes_sin_compras = todos_los_clientes - clientes_con_compras

# Cuántos clientes no han realizado compras
cantidad_clientes_sin_compras = len(clientes_sin_compras)

# Imprime el resultado
print(
    "Número de clientes que aún no han hecho ninguna compra:",
    cantidad_clientes_sin_compras,
)

Número de clientes que aún no han hecho ninguna compra: 24

7. Se solicita la creación de dos reportes, que respondan las preguntas dadas
   
● ¿Cuáles fueron los 10 clientes que reportan mayores ventas brutas en dinero durante
el año 2005? Genera un DataFrame y guárdalo en una tabla de Postgre llamada
top_10_clientes_2005, en la que se especifique el nombre del cliente y su
correspondiente venta, costo y ganancia.

In [11]:
from funciones import filtrar_dataframe_por_fechas, generar_reporte, guardar_tabla

# Filtra el DataFrame para incluir solo las ventas del año 2005
ventas_2005 = filtrar_dataframe_por_fechas(
    merged_data, "orderDate", "2005-01-01", "2005-12-31"
)
ventas_2005

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,...,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,venta,costo,ganancia
45,10422,2005-05-30,2005-06-11,None,In Process,None,157,S18_1342,51,91.44,...,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep,4663.44,3091.62,1571.82
47,10422,2005-05-30,2005-06-11,None,In Process,None,157,S18_1367,25,47.44,...,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep,1186.00,606.50,579.50
69,10388,2005-03-03,2005-03-11,2005-03-09,Shipped,None,462,S10_1678,42,80.39,...,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep,3376.38,2050.02,1326.36
72,10388,2005-03-03,2005-03-11,2005-03-09,Shipped,None,462,S10_4698,21,156.86,...,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep,3294.06,1911.42,1382.64
75,10388,2005-03-03,2005-03-11,2005-03-09,Shipped,None,462,S12_2823,44,125.01,...,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep,5500.44,2915.88,2584.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2896,10369,2005-01-20,2005-01-28,2005-01-24,Shipped,None,379,S18_3136,21,90.06,...,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep,1891.26,1275.54,615.72
2921,10369,2005-01-20,2005-01-28,2005-01-24,Shipped,None,379,S18_3320,45,80.36,...,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep,3616.20,2589.30,1026.90
2928,10365,2005-01-07,2005-01-18,2005-01-11,Shipped,None,320,S32_4485,22,82.66,...,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep,1818.52,1234.86,583.66
2930,10365,2005-01-07,2005-01-18,2005-01-11,Shipped,None,320,S50_4713,44,68.34,...,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep,3006.96,1503.48,1503.48
2937,10369,2005-01-20,2005-01-28,2005-01-24,Shipped,None,379,S24_4258,40,93.49,...,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep,3739.60,2298.40,1441.20

In [12]:
from funciones import filtrar_dataframe_por_fechas, generar_reporte, guardar_tabla

#  Agrupa y calcula las ventas totales, costos totales y ganancias totales por cliente
ventas_por_cliente = generar_reporte(
    ventas_2005,
    filas="customerName",
    columnas=None,
    valores=["venta", "costo", "ganancia"],
    medida="sum",
)

#  Ordena los resultados por ventas totales de manera descendente
ventas_por_cliente = ventas_por_cliente.sort_values(by="venta", ascending=False)

#  Selecciona los 10 primeros clientes con las mayores ventas
top_10_clientes_2005 = ventas_por_cliente.head(10)

#  Crea un nuevo DataFrame con esta información
top_10_clientes_2005.reset_index(
    inplace=True
)  # Reiniciar el índice para tener 'customerNumber' como una columna

#  Guarda este DataFrame en una tabla de PostgreSQL llamada 'top_10_clientes_2005'
nombre_tabla_clientes = "top_10_clientes_2005"

# Guarda el DataFrame en la tabla de PostgreSQL
guardar_tabla(top_10_clientes_2005, nombre_tabla_clientes, engine)
ventas_por_cliente

                                   costo   ganancia      venta
customerName
Euro+ Shopping Channel         169989.97  120028.55  290018.52
Mini Gifts Distributors Ltd.   115084.72   77397.01  192481.73
La Rochelle Gifts               55527.04   35620.07   91147.11
The Sharp Gifts Warehouse       50843.02   33141.87   83984.89
Down Under Souveniers, Inc      46389.52   28630.61   75020.13
Anna's Decorations, Ltd         35414.90   21517.40   56932.30
Salzburg Collectables           33536.26   18883.81   52420.07
Gifts4AllAges.com               33221.25   17585.60   50806.85
Corporate Gift Ideas Co.        28561.31   18220.35   46781.66
Oulu Toy Supplies, Inc.         27493.61   19276.91   46770.52
Reims Collectables              28889.40   17767.54   46656.94
Suominen Souveniers             29109.51   16675.83   45785.34
Tekni Collectables Inc.         28493.70   15031.34   43525.04
Souveniers And Things Co.       25731.54   16519.97   42251.51
Toys4GrownUps.com               21887.81   17692.79   39580.60
UK Collectables, Ltd.           21119.36   16139.58   37258.94
GiftsForHim.com                 21857.14   14585.20   36442.34
L'ordine Souveniers             22862.59   12499.67   35362.26
Mini Caravy                     21503.29   13654.46   35157.75
Tokyo Collectables, Ltd         22739.71   11843.47   34583.18
FunGiftIdeas.com                17532.54   12761.23   30293.77
Kelly's Gift Shop               17897.08   12356.67   30253.75
Québec Home Shopping Network    18351.12   10719.26   29070.38
Gift Depot Inc.                 16515.27   11985.51   28500.78
Collectables For Less Inc.      17163.18   11159.65   28322.83
Scandinavian Gift Ideas         16420.72   11545.82   27966.54
Extreme Desk Decorations, Ltd   13798.24    9829.20   23627.44
Toys of Finland, Co.            14714.47    8888.43   23602.90
Danish Wholesale Imports        13641.23    7997.39   21638.62
Australian Gift Network, Co     12666.83    8765.48   21432.31
Lyon Souveniers                 10724.62    7203.47   17928.09
Royale Belge                     8622.10    5757.80   14379.90
Technics Stores Inc.             7060.67    5631.52   12692.19
Alpha Cognac                     7648.14    4784.18   12432.32
Auto Canal+ Petit                6639.08    5551.77   12190.85
Australian Collectables, Ltd     7137.13    3808.13   10945.26
Mini Auto Werke                  5103.85    3703.27    8807.12
Petit Auto                       5765.41    2832.32    8597.73
Mini Creations Ltd.              5243.64    3063.64    8307.28
Diecast Classics Inc.            3698.12    2151.32    5849.44
Dragon Souveniers, Ltd.          2944.48     571.56    3516.04
Boards & Toys Co.                2630.60     822.15    3452.75
Handji Gifts& Co                 1727.65     598.53    2326.18
Marseille Mini Autos             1158.72     675.84    1834.56

In [13]:
# Genera un informe de los 10 productos más vendidos en 2005
productos_top_10_2005 = generar_reporte(ventas_2005,
                                        filas='productName',
                                        columnas=None,  # Deja las columnas como None
                                        valores=['venta', 'costo', 'ganancia'],
                                        medida='sum')

# Guarda el informe en la tabla 'top_10_productos_2005'
nombre_tabla_productos = 'top_10_productos_2005'
guardar_tabla(productos_top_10_2005, nombre_tabla_productos, engine, if_exists='replace')
productos_top_10_2005

                                        costo  ganancia     venta
productName
18th Century Vintage Horse Carriage   8503.60   4607.21  13110.81
18th century schooner                12927.38   3634.49  16561.87
1900s Vintage Bi-Plane                5137.50   3619.25   8756.75
1900s Vintage Tri-Plane               8622.74   7318.00  15940.74
1903 Ford Model A                     8605.80   7627.75  16233.55
...                                       ...       ...       ...
The Mayflower                         6884.70   4622.00  11506.70
The Queen Mary                        7669.09   4102.89  11771.98
The Schooner Bluenose                 4930.00   3884.00   8814.00
The Titanic                           7918.95   5514.91  13433.86
The USS Constitution Ship             4450.07   4170.06   8620.13

[109 rows x 3 columns]