Para realizar lo solicitado debes crear la base de datos classicmodels en tu motor
PostgreSQL. Para esto, abre una ventana de terminal y ejecuta la siguiente
instrucción:
psql -h localhost -p 5432 -U postgres -c "CREATE DATABASE classicmodels;"

2. Una vez creada la base de datos, debes importar el archivo classicmodels.sql a esta
base de datos.
psql -h localhost -p 5432 -U postgres -d classicmodels -f classicmodels.sql

Password for user postgres: 
SET
SET
SET
SET
SET
 set_config
------------
(1 row)

SET
SET
SET
SET
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 122
COPY 23
COPY 7
COPY 2996
COPY 326
COPY 273
COPY 7
COPY 110

1. Genera una función llamada leer_tabla(tabla, engine) y utilízala para leer tablas
completas desde la base de datos en dataframes independientes. Utilizando esta
función, importa las siguientes tablas:
- order
- orderdetails
- customers
- products
- employees

In [71]:
# Configura la conexión a tu base de datos PostgreSQL
from sqlalchemy import create_engine
from funciones import leer_tabla
import pandas as pd
# Resto del código de mi_script.py


engine = create_engine('postgresql://postgres:luispost@localhost/classicmodels')

tabla_order = leer_tabla('orders', engine)
tabla_orderdetails = leer_tabla('orderdetails', engine)
tabla_customers = leer_tabla('customers', engine)
tabla_products = leer_tabla('products', engine)
tabla_employees = leer_tabla('employees', engine)

In [72]:
# Obtén los nombres de las columnas para cada tabla
nombres_columnas_orders = tabla_order.columns
nombres_columnas_orderdetails = tabla_orderdetails.columns
nombres_columnas_customers = tabla_customers.columns
nombres_columnas_products = tabla_products.columns
nombres_columnas_employees = tabla_employees.columns

# Imprime los nombres de las columnas
print("Nombres de las columnas de la tabla 'orders':")
print(nombres_columnas_orders)

print("\nNombres de las columnas de la tabla 'orderdetails':")
print(nombres_columnas_orderdetails)

print("\nNombres de las columnas de la tabla 'customers':")
print(nombres_columnas_customers)

print("\nNombres de las columnas de la tabla 'products':")
print(nombres_columnas_products)

print("\nNombres de las columnas de la tabla 'employees':")
print(nombres_columnas_employees)

Nombres de las columnas de la tabla 'orders':
Index(['orderNumber', 'orderDate', 'requiredDate', 'shippedDate', 'status',
       'comments', 'customerNumber'],
      dtype='object')

Nombres de las columnas de la tabla 'orderdetails':
Index(['orderNumber', 'productCode', 'quantityOrdered', 'priceEach',
       'orderLineNumber'],
      dtype='object')

Nombres de las columnas de la tabla 'customers':
Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode',
       'country', 'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

Nombres de las columnas de la tabla 'products':
Index(['productCode', 'productName', 'productLine', 'productScale',
       'productVendor', 'productDescription', 'quantityInStock', 'buyPrice',
       'MSRP'],
      dtype='object')

Nombres de las columnas de la tabla 'employees':
Index(['employeeNumber', 'lastName', 'firstName', 'extension', 'email',
       'officeCode', 'reportsTo', 'jobTitle'],
      dtype='object')

2. Realiza el cruce entre los DataFrames, asegurándote de utilizar correctamente el
parámetro validate para asegurar la integridad referencial.

In [73]:


# Realizar los cruces asegurando la integridad referencial
merged_data = tabla_order.merge(tabla_orderdetails, on='orderNumber', validate='one_to_many') \
                          .merge(tabla_customers, on='customerNumber', validate='many_to_one') \
                          .merge(tabla_products, on='productCode', validate='one_to_one', suffixes=('_order', '_product')) \
                          .merge(tabla_employees, left_on='salesRepEmployeeNumber', right_on='employeeNumber', validate='many_to_one')



merged_data

Empty DataFrame
Columns: [productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP]
Index: []

AttributeError: 'Engine' object has no attribute 'execute'

3. Agrega las siguientes columnas, considerando su nombre y la fórmula asociada
- venta: quantityOrdered*priceEach
- costo: quantityOrdered*buyPrice
- ganancia: considerando las columnas anteriores

In [28]:
# Agrega la columna 'venta' (quantityOrdered * priceEach)
merged_data['venta'] = merged_data['quantityOrdered'] * merged_data['priceEach']

# Agrega la columna 'costo' (quantityOrdered * buyPrice)
merged_data['costo'] = merged_data['quantityOrdered'] * merged_data['buyPrice']

# Agrega la columna 'ganancia' (venta - costo)
merged_data['ganancia'] = merged_data['venta'] - merged_data['costo']
# Selecciona las columnas 'venta', 'costo' y 'ganancia'
columnas_seleccionadas = ['venta', 'costo', 'ganancia']

# Imprime las columnas seleccionadas
merged_data[columnas_seleccionadas]

        venta    costo  ganancia
0     4080.00  2601.00   1479.00
1     6099.60  3381.30   2718.30
2     4039.20  2080.80   1958.40
3     6806.80  3814.80   2992.00
4     6426.00  3641.40   2784.60
...       ...      ...       ...
2991  3198.25  1332.65   1865.60
2992  2558.60  1066.12   1492.48
2993  1453.80   726.90    726.90
2994  2086.14  1017.66   1068.48
2995  1927.33   896.51   1030.82

[2996 rows x 3 columns]

4. ¿Cuál fue el total de ventas por línea de productos? Incluye una fila de totales.

In [37]:


# Agrupa los datos por la columna 'productLine' y suma las ventas en cada grupo
ventas_por_linea = merged_data.groupby('productLine')['venta'].sum().reset_index()

# Calcula el total de ventas
total_ventas = ventas_por_linea['venta'].sum()

# Asegúrate de que la columna 'venta' sea de tipo numérico (puede ser necesario convertirla)
ventas_por_linea['venta'] = pd.to_numeric(ventas_por_linea['venta'])

# Agrega una fila de totales al DataFrame
fila_total = pd.DataFrame({'productLine': ['Total'], 'venta': [total_ventas]})

# Concatena el DataFrame de totales
ventas_por_linea = pd.concat([ventas_por_linea, fila_total], ignore_index=True)

# Imprime el resultado
print(ventas_por_linea)

        productLine       venta
0      Classic Cars  3853922.49
1       Motorcycles  1121426.12
2            Planes   954637.54
3             Ships   663998.34
4            Trains   188532.92
5  Trucks and Buses  1024113.57
6      Vintage Cars  1797559.63
7             Total  9604190.61

5. ¿Cuántos clientes distintos hicieron compras?

In [38]:
# Cuenta los clientes distintos
clientes_distintos = merged_data['customerNumber'].nunique()

# Imprime el resultado
print("Número de clientes distintos que hicieron compras:", clientes_distintos)

Número de clientes distintos que hicieron compras: 98

6. ¿Existen clientes que aún no han hecho ninguna compra? ¿Cuántos son?

In [39]:
# Obtén la lista de todos los clientes de la tabla 'customers'
todos_los_clientes = set(tabla_customers['customerNumber'])

# Obtén la lista de clientes que han realizado al menos una compra en la tabla 'orders'
clientes_con_compras = set(tabla_order['customerNumber'].unique())

# Encuentra los clientes que no han realizado compras
clientes_sin_compras = todos_los_clientes - clientes_con_compras

# Cuántos clientes no han realizado compras
cantidad_clientes_sin_compras = len(clientes_sin_compras)

# Imprime el resultado
print("Número de clientes que aún no han hecho ninguna compra:", cantidad_clientes_sin_compras)

Número de clientes que aún no han hecho ninguna compra: 24

7. Se solicita la creación de dos reportes, que respondan las preguntas dadas
   
● ¿Cuáles fueron los 10 clientes que reportan mayores ventas brutas en dinero durante
el año 2005? Genera un DataFrame y guárdalo en una tabla de Postgre llamada
top_10_clientes_2005, en la que se especifique el nombre del cliente y su
correspondiente venta, costo y ganancia.

In [47]:

from funciones import filtrar_dataframe_por_fechas, generar_reporte, guardar_tabla

# Filtra el DataFrame para incluir solo las ventas del año 2005
ventas_2005 = filtrar_dataframe_por_fechas(merged_data, 'orderDate', '2005-01-01', '2005-12-31')
ventas_2005

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,...,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,venta,costo,ganancia
1,10379,2005-02-10,2005-02-18,2005-02-11,Shipped,None,141,S18_1749,39,156.40,...,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00,6099.60,3381.30,2718.30
13,10420,2005-05-29,2005-06-07,None,In Process,None,282,S18_1749,37,153.00,...,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00,5661.00,3207.90,2453.10
14,10367,2005-01-12,2005-01-21,2005-01-16,Resolved,This order was disputed and resolved on 2/1/20...,205,S18_1749,37,144.50,...,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00,5346.50,3207.90,2138.60
22,10407,2005-04-22,2005-05-04,None,On Hold,Customer credit limit exceeded. Will ship when...,450,S18_1749,76,141.10,...,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00,10723.60,6589.20,4134.40
26,10379,2005-02-10,2005-02-18,2005-02-11,Shipped,None,141,S18_2248,27,50.85,...,Vintage Cars,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54,1372.95,899.10,473.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2978,10399,2005-04-01,2005-04-12,2005-04-03,Shipped,None,496,S18_2625,30,51.48,...,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57,1544.40,726.90,817.50
2980,10362,2005-01-05,2005-01-16,2005-01-10,Shipped,None,161,S18_2625,23,53.91,...,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57,1239.93,557.29,682.64
2982,10374,2005-02-02,2005-02-09,2005-02-03,Shipped,None,333,S18_2625,22,48.46,...,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57,1066.12,533.06,533.06
2984,10389,2005-03-03,2005-03-09,2005-03-08,Shipped,None,448,S18_2625,39,52.09,...,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57,2031.51,944.97,1086.54
2991,10402,2005-04-07,2005-04-14,2005-04-12,Shipped,None,406,S18_2625,55,58.15,...,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57,3198.25,1332.65,1865.60

In [54]:
from funciones import filtrar_dataframe_por_fechas, generar_reporte, guardar_tabla

#  Agrupa y calcula las ventas totales, costos totales y ganancias totales por cliente
ventas_por_cliente = generar_reporte(ventas_2005,
                                     filas='customerNumber',
                                     columnas=None,
                                     valores=['venta', 'costo', 'ganancia'],
                                     medida='sum')

#  Ordena los resultados por ventas totales de manera descendente
ventas_por_cliente = ventas_por_cliente.sort_values(by='venta', ascending=False)

#  Selecciona los 10 primeros clientes con las mayores ventas
top_10_clientes_2005 = ventas_por_cliente.head(10)

#  Crea un nuevo DataFrame con esta información
top_10_clientes_2005.reset_index(inplace=True)  # Reiniciar el índice para tener 'customerNumber' como una columna

#  Guarda este DataFrame en una tabla de PostgreSQL llamada 'top_10_clientes_2005'
nombre_tabla_clientes = 'top_10_clientes_2005'

# Guarda el DataFrame en la tabla de PostgreSQL
guardar_tabla(top_10_clientes_2005, nombre_tabla_clientes, engine)
ventas_por_cliente

                    costo   ganancia      venta
customerNumber
141             169989.97  120028.55  290018.52
124             115084.72   77397.01  192481.73
119              55527.04   35620.07   91147.11
450              50843.02   33141.87   83984.89
323              46389.52   28630.61   75020.13
276              35414.90   21517.40   56932.30
382              33536.26   18883.81   52420.07
362              33221.25   17585.60   50806.85
321              28561.31   18220.35   46781.66
311              27493.61   19276.91   46770.52
353              28889.40   17767.54   46656.94
334              29109.51   16675.83   45785.34
328              28493.70   15031.34   43525.04
282              25731.54   16519.97   42251.51
205              21887.81   17692.79   39580.60
201              21119.36   16139.58   37258.94
357              21857.14   14585.20   36442.34
386              22862.59   12499.67   35362.26
209              21503.29   13654.46   35157.75
398              22739.71   11843.47   34583.18
462              17532.54   12761.23   30293.77
496              17897.08   12356.67   30253.75
233              18351.12   10719.26   29070.38
175              16515.27   11985.51   28500.78
379              17163.18   11159.65   28322.83
448              16420.72   11545.82   27966.54
412              13798.24    9829.20   23627.44
186              14714.47    8888.43   23602.90
145              13641.23    7997.39   21638.62
333              12666.83    8765.48   21432.31
250              10724.62    7203.47   17928.09
381               8622.10    5757.80   14379.90
161               7060.67    5631.52   12692.19
242               7648.14    4784.18   12432.32
406               6639.08    5551.77   12190.85
471               7137.13    3808.13   10945.26
452               5103.85    3703.27    8807.12
314               5765.41    2832.32    8597.73
320               5243.64    3063.64    8307.28
157               3698.12    2151.32    5849.44
148               2944.48     571.56    3516.04
219               2630.60     822.15    3452.75
166               1727.65     598.53    2326.18
350               1158.72     675.84    1834.56

In [51]:
# Genera un informe de los 10 productos más vendidos en 2005
productos_top_10_2005 = generar_reporte(ventas_2005,
                                        filas='productCode',
                                        columnas=None,  # Deja las columnas como None
                                        valores=['venta', 'costo', 'ganancia'],
                                        medida='sum')

# Guarda el informe en la tabla 'top_10_productos_2005'
nombre_tabla_productos = 'top_10_productos_2005'
guardar_tabla(productos_top_10_2005, nombre_tabla_productos, engine, if_exists='replace')
productos_top_10_2005

                costo  ganancia     venta
productCode
S10_1678      9420.33   5951.07  15371.40
S10_1949     17152.92  16884.28  34037.20
S10_2016     15867.70  10271.64  26139.34
S10_4698     19023.18  15832.94  34856.12
S10_4757     18678.24   8547.60  27225.84
...               ...       ...       ...
S700_3505     7918.95   5514.91  13433.86
S700_3962     7669.09   4102.89  11771.98
S700_4002     7544.16   5768.32  13312.48
S72_1253      5603.67   1934.91   7538.58
S72_3212      5094.90   2919.45   8014.35

[109 rows x 3 columns]