In [10]:
# Configura la conexión a tu base de datos PostgreSQL
from sqlalchemy import create_engine
from funciones import leer_tabla
import pandas as pd
# Resto del código de mi_script.py

# Reemplaza 'classicmodels', 'postgres' y 'luispost' con los valores adecuados
engine = create_engine('postgresql://postgres:luispost@localhost/classicmodels')

tabla_order = leer_tabla('orders', engine)
tabla_orderdetails = leer_tabla('orderdetails', engine)
tabla_customers = leer_tabla('customers', engine)
tabla_products = leer_tabla('products', engine)
tabla_employees = leer_tabla('employees', engine)

In [12]:
# Obtén los nombres de las columnas para cada tabla
nombres_columnas_orders = tabla_order.columns
nombres_columnas_orderdetails = tabla_orderdetails.columns
nombres_columnas_customers = tabla_customers.columns
nombres_columnas_products = tabla_products.columns
nombres_columnas_employees = tabla_employees.columns

# Imprime los nombres de las columnas
print("Nombres de las columnas de la tabla 'orders':")
print(nombres_columnas_orders)

print("\nNombres de las columnas de la tabla 'orderdetails':")
print(nombres_columnas_orderdetails)

print("\nNombres de las columnas de la tabla 'customers':")
print(nombres_columnas_customers)

print("\nNombres de las columnas de la tabla 'products':")
print(nombres_columnas_products)

print("\nNombres de las columnas de la tabla 'employees':")
print(nombres_columnas_employees)

Nombres de las columnas de la tabla 'orders':
Index(['orderNumber', 'orderDate', 'requiredDate', 'shippedDate', 'status',
       'comments', 'customerNumber'],
      dtype='object')

Nombres de las columnas de la tabla 'orderdetails':
Index(['orderNumber', 'productCode', 'quantityOrdered', 'priceEach',
       'orderLineNumber'],
      dtype='object')

Nombres de las columnas de la tabla 'customers':
Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode',
       'country', 'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

Nombres de las columnas de la tabla 'products':
Index(['productCode', 'productName', 'productLine', 'productScale',
       'productVendor', 'productDescription', 'quantityInStock', 'buyPrice',
       'MSRP'],
      dtype='object')

Nombres de las columnas de la tabla 'employees':
Index(['employeeNumber', 'lastName', 'firstName', 'extension', 'email',
       'officeCode', 'reportsTo', 'jobTitle'],
      dtype='object')

In [14]:
# Realiza el cruce entre las tablas
merged_data = tabla_order.merge(tabla_orderdetails, on='orderNumber') \
    .merge(tabla_customers, on='customerNumber') \
    .merge(tabla_products, on='productCode')

# Ahora tienes un DataFrame combinado con todos los datos relacionados.
merged_data

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,...,salesRepEmployeeNumber,creditLimit,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,S18_1749,30,136.00,...,1216.0,114200.0,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
1,10379,2005-02-10,2005-02-18,2005-02-11,Shipped,None,141,S18_1749,39,156.40,...,1370.0,227600.0,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
2,10173,2003-11-05,2003-11-15,2003-11-09,Shipped,Cautious optimism. We have happy customers her...,278,S18_1749,24,168.30,...,1401.0,119600.0,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
3,10331,2004-11-17,2004-11-23,2004-11-23,Shipped,Customer requested special shippment. The inst...,486,S18_1749,44,154.70,...,1323.0,72600.0,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
4,10110,2003-03-18,2003-03-24,2003-03-20,Shipped,None,187,S18_1749,42,153.00,...,1501.0,136800.0,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,10402,2005-04-07,2005-04-14,2005-04-12,Shipped,None,406,S18_2625,55,58.15,...,1337.0,95000.0,1936 Harley Davidson El Knucklehead,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57
2992,10251,2004-05-18,2004-05-24,2004-05-24,Shipped,None,328,S18_2625,44,58.15,...,1323.0,43000.0,1936 Harley Davidson El Knucklehead,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57
2993,10339,2004-11-23,2004-11-30,2004-11-30,Shipped,None,398,S18_2625,30,48.46,...,1621.0,94400.0,1936 Harley Davidson El Knucklehead,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57
2994,10318,2004-11-02,2004-11-09,2004-11-07,Shipped,None,157,S18_2625,42,49.67,...,1216.0,100600.0,1936 Harley Davidson El Knucklehead,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57
2995,10275,2004-07-23,2004-08-02,2004-07-29,Shipped,None,119,S18_2625,37,52.09,...,1370.0,118200.0,1936 Harley Davidson El Knucklehead,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57

In [28]:
# Agrega la columna 'venta' (quantityOrdered * priceEach)
merged_data['venta'] = merged_data['quantityOrdered'] * merged_data['priceEach']

# Agrega la columna 'costo' (quantityOrdered * buyPrice)
merged_data['costo'] = merged_data['quantityOrdered'] * merged_data['buyPrice']

# Agrega la columna 'ganancia' (venta - costo)
merged_data['ganancia'] = merged_data['venta'] - merged_data['costo']
# Selecciona las columnas 'venta', 'costo' y 'ganancia'
columnas_seleccionadas = ['venta', 'costo', 'ganancia']

# Imprime las columnas seleccionadas
merged_data[columnas_seleccionadas]

        venta    costo  ganancia
0     4080.00  2601.00   1479.00
1     6099.60  3381.30   2718.30
2     4039.20  2080.80   1958.40
3     6806.80  3814.80   2992.00
4     6426.00  3641.40   2784.60
...       ...      ...       ...
2991  3198.25  1332.65   1865.60
2992  2558.60  1066.12   1492.48
2993  1453.80   726.90    726.90
2994  2086.14  1017.66   1068.48
2995  1927.33   896.51   1030.82

[2996 rows x 3 columns]

In [32]:
# Agrupa los datos por la columna 'productLine' y suma las ventas en cada grupo
ventas_por_linea = merged_data.groupby('productLine')['venta'].sum().reset_index()

# Calcula el total de ventas
total_ventas = ventas_por_linea['venta'].sum()

# Asegúrate de que la columna 'venta' sea de tipo numérico (puede ser necesario convertirla)
ventas_por_linea['venta'] = pd.to_numeric(ventas_por_linea['venta'])

# Agrega una fila de totales al DataFrame
fila_total = {'productLine': 'Total', 'venta': total_ventas}
ventas_por_linea = ventas_por_linea.append(fila_total, ignore_index=True)

# Imprime el resultado
print(ventas_por_linea)

NameError: name 'pd' is not defined